/*HEADER - NAVBAR*/
nav.navbar-expand-lg {
    margin-top: 0;
    height: 7%;
    padding: 4px;
    //background-color: #3b83bd;
    background-color: #f0f8ff;
}

/*NAVBAR ELEMENT*/
li.nav-item a.active {
    background-color: #3b83bd;
    border-bottom: 3px darkorange solid;
}

/* NAVBAR LINK */
.nav-link {
    font-size: 18px;
}


#currentDateTime {
    font-size: 30px;
    margin-left: auto;
}

#title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#map {
    width: 100%;
    height: 700px;
}

button.go:before {
    content: '';
    position: absolute;
    width: 0;
    height: .8em;
    background: transparent;
    border: 0.4em solid transparent;
    border-right: 0;
    border-left: .6em solid currentColor;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
}
.running button.go:before {
    background: transparent;
    width: .2em;
    border: 0;
    box-shadow: .2em 0, -.2em 0;
}